.mainprimary-4 {
    position: absolute;
    width: 100%;
    top: 3151px;
    left: -41px;
    flex-direction: column;
    font-size: var(--font-size-17xl);
  }
  .div11,
  .section3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .div11 {
    padding: 0 var(--padding-17xl);
    gap: 72px;
  }
  .section3 {
    background-color: var(--white);
    padding: var(--padding-65xl) 288px;
    font-size: var(--font-size-4xl);
    width: 65%;
  }
  .div12 {
    position: relative;
    border-radius: var(--br-29xl);
    background: linear-gradient(180deg, #ffdc06, #fdb235);
    width: 460px;
    height: 296px;
  }
  .h21 {
    position: absolute;
    top: 47px;
    left: 48px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0 204px var(--padding-12xs) 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .find-out-why {
    position: relative;
    line-height: 24px;
    display: flex;
    align-items: center;
    font-size: 17px;
    width: 358.83px;
    flex-shrink: 0;
  }
  .div13 {
    position: absolute;
    top: 102px;
    left: 48px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0 5.17498779296875px 0 0;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-base);
  }
  .div15 {
    position: relative;
    width: 308px;
    height: 296px;
  }
  .h22 {
    position: absolute;
    top: 47px;
    left: 48px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0 8var (--padding-12xs) 1px 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .help-topics-getting {
    position: relative;
    line-height: 24px;
    display: flex;
    align-items: center;
    width: 196.03px;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 400;
  }
  .read-our-story {
    position: relative;
    letter-spacing: -0.48px;
    line-height: 30px;
    font-weight: 800;
    font-size: 23px;
  }
  .a4 {
    border-radius: var(--br-23xl);
    background-color: var(--color-gray-100);
    box-shadow: 0 0 0 2px #02033b inset;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    /* padding: var(--padding-base) 16.875px var(--padding-base) var(--padding-xl); */
    align-items: flex-start;
    justify-content: flex-start; 
  text-decoration: none;
  font-size: 14px;
  font-family: Inter;
  color: #02033B;
  font-weight: 800;
line-height: 9px;
  }
  .a3,
  .div14,
  .span4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .span4 {
    padding: 0 0.671875px 0 0;
    position: relative;
  }
  .about-us {
    position: relative;
    line-height: 18px;
    font-weight: 800;
    z-index: 0;
    text-decoration: none;
    color: white;
  }
  .spanafter-icon2{
    margin-top: 7px;
    margin-left: 10px;
    cursor: pointer;
  }